<style>
    .card-pre {
        transition: height 1s;
        width: auto;
        height: auto;
    }

    .card-show {
        height: calc(100vh - 4vh);
        margin: 0px;
        top: 2vh;
        left: 3vw;
        position: fixed;
        z-index: 99;
        width: calc(100vw - 6vw);
        /* margin: auto; */
        transition: height 1s;
        overflow-y: scroll;
    }

    .card-show-bg {
        background: rgba(0, 0, 0, .9);
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        z-index: 90;
    }

    .card-container {
        display: grid;
        height: 100%;
        grid-template-rows: 1fr 1fr 1fr 10fr;
        grid-row-gap: 10px;
    }
</style>
<div>
    <h3>Events</h3>
</div>
<div>




</div>
<div ng-if="selectedCard" class="card-show-bg">

</div>
<div ng-repeat="e in homeEvents">

    <div class="card card-event" ng-class="(selectedCard===e)?'card-show':'card-pre'" ng-click="setSelectedCard(e)">

        <div class="card-icon"><i class="material-icons">local_activity</i></div>


        <div ng-class="{'card-container':selectedCard===e}">

            <div class="card-title">
                #PSPK Planning
            </div>
            <div class="card-heading">
                Booking tickets for movie on 10th Jan
            </div>
            <div class="card-options">
                <div>
                    Join
                </div>
            </div>
            <div class="card-discussion" ng-if="selectedCard===e">
                <div class="card-comments">

                    <div class="card-comment" ng-repeat="c in eventComments">
                        <div class="comment-user">
                            {{c.user}}
                        </div>
                        <div class="comment-comment">
                            {{c.comment}}
                        </div>
                    </div>

                </div>
                <div class="add-card-comments">
                    Type your comment here
                </div>
            </div>

        </div>





    </div>
</div>
<div>
    <h3>Polls</h3>
</div>
<div ng-repeat="e in homePolls">
    <div class="card card-poll" ng-class="{'card-show':selectedCard===e}" ng-click="setSelectedCard(e)">
        <div class="card-icon"><i class="material-icons">thumbs_up_down</i></div>
        <div class="card-title">
            #PSPK Planning
        </div>
        <div class="card-heading">
            Booking tickets for movie on 10th Jan
        </div>
        <div class="card-options">
            <div>
                Join
            </div>
        </div>
    </div>
</div>
<div>
    <h3>Proposals</h3>
</div>
<div ng-repeat="e in homeProposals">
    <div class="card card-proposal" ng-class="{'card-show':selectedCard===e}" ng-click="setSelectedCard(e)">
        <div class="card-icon"><i class="material-icons">pan_tool</i></div>
        <div class="card-title">
            #PSPK Planning
        </div>
        <div class="card-heading">
            Booking tickets for movie on 10th Jan
        </div>
        <div class="card-options">
            <div>
                Join
            </div>
        </div>
    </div>
</div>
<div>
    <h3>Queries</h3>
</div>
<div ng-repeat="e in homeQueries">
    <div class="card card-query" ng-class="{'card-show':selectedCard===e}" ng-click="setSelectedCard(e)">
        <div class="card-icon"><i class="material-icons">help_outline</i></div>
        <div class="card-title">
            #PSPK Planning
        </div>
        <div class="card-heading">
            Booking tickets for movie on 10th Jan
        </div>
        <div class="card-options">
            <div>
                Join
            </div>
        </div>
    </div>
</div>